extends ../layouts/default

block main

  script.
    var trackingId = "#{trackingId}";
    var apiKey = "#{process.env.OPENTOK_KEY}"
    var sessionId = "#{openTok.sessionId}";
    var token = "#{openTok.token}";
    var statuses = !{JSON.stringify(statuses)};

  #map
  html
    body
      section.card
        svg#volume-icon(fill='#000000', height='24', viewbox='0 0 24 24', width='24', xmlns='http://www.w3.org/2000/svg')
          path(d='M18.5 12c0-1.77-1.02-3.29-2.5-4.03v8.05c1.48-.73 2.5-2.25 2.5-4.02zM5 9v6h4l5 5V4L9 9H5z')
          path(d='M0 0h24v24H0z', fill='none')
        #volume-indicator
        h1#since.danger
          span#since-text Em perigo desde&nbsp;
          span#since-time
        h2
          span#last-update Última atualização às&nbsp;
          span#last-update-time
        h2
          span#location



block scripts
  script(src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDxgWt8pEgJ-Eiwj0_PnYEOngQstCMHr9E")
  script(src="https://static.opentok.com/v2/js/opentok.min.js")
  script(src="/socket.io/socket.io.js")
  script(src="/js/t.js")
